<head>
    <title>forget</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
</head>
<section class="text-center" >

    <div class="p-5 bg-image" style="
          height: 200px; ">
    </div>
     <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: -100px;background: hsla(0, 0%, 100%, 0.108);backdrop-filter: blur(50px);">
        <div class="card-body py-5 px-md-5">
  
  
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
              <h2 class="fw-bold mb-5">forget password</h2>
            <%- include ("./messages") %>
            <form action="/auth/forgot" method="POST">
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Send me a password reset link</button>
            </form>
            <p class="mt-4">
                Remember your password? <a href="/auth/login">Login</a>
            </p>
        </div>
    </div>
</div>